{% extends 'main/base.html' %}

{% block title %}
    {{credit.clientOwner}} - {{credit.bankOwner}}
{% endblock title %}

{% block content %}
    <h3 class="mb-5">{{credit}}</h3>
    <section>
        <div class="d-flex flex-column">
            <strong><p>CLIENT: {{credit.clientOwner}}</p></strong>
            <strong><p>BANK: {{credit.bankOwner}}</p></strong>
            <p>DESCRIPTION: {{credit.description}}</p>
            <p>MIN. PAYMENT: {{credit.minPayment}}</p>
            <p>MAX. PAYMENT: {{credit.maxPayment}}</p>
            <p>TERMS OF CREDIT (MONTHS): {{credit.termsOfCredits}}</p>
            <p>REGISTER DATE: {{credit.registerDate}}</p>
            <p>
                TYPE OF CREDIT:
                {% if credit.creditType == "A" %}
                    Automobile
                {% elif credit.creditType == "M" %}
                    Mortgage
                {% elif credit.creditType == "C" %}
                    Commercial
                {% endif %}
            </p>
        </div>
    </section>
{% endblock content %}