{% extends 'main/base.html' %}

{% block title %}
    {{name}} 
{% endblock title %}

{% block content %}
    <h3 class="mb-5">{{name}}</h3>
    <section>
        <form method="post" action={{actionName}} class="forms-group">
            {% csrf_token %}
            <div class="input-group mb-3 flex-column">
                {{form.as_p}}
                <button type="submit" name="save" class="btn btn-success">
                    {{buttonName}}
                </button>
            </div>
        </form>
    </section>
{% endblock content %}